/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */

}
body {
    min-width: 350px;
    background: #fff;
    font: 16px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0px;
    color: #212121;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0; 
}
th { text-align: left; padding-left: 8px; font-weight: bold; }
td { text-align: left; padding: 15px 8px;}
tr {border-top: 1px solid #b6b6b6;}
tr:first-child, tr:last-child {border-top: 0px;}
td:last-child {text-align: right;}
.price  {color: #4caf50}
.border-top {/* border-bottom: 1px solid #eee; */  background: #c8e6c9;}
.border-top > td {border: 0px; color: #212121;font-weight: bold;}
.border-bottom {border: 1px solid #4caf50; background: #4caf50;}
th {color: #fff; font-weight: normal;}
form {
margin-bottom: 20px; }
select{
    width: 6em;
}
input[type="text"] {
    width: 5em;
}
input[type="text"],
textarea,
select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    /*width: 210px;*/
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
background: #fff; }
select {
padding: 0; }
input[type="text"]:focus,
textarea:focus {
    border: 1px solid #eee;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(121,204,94,.5);
    -webkit-box-shadow: 0 0 3px rgba(121,204,94,.5);
box-shadow:  0 0 3px rgba(121,204,94,.5); }
textarea {
min-height: 60px; }
label,
legend {
    display: block;
    font-weight: bold;
font-size: 13px;  }
input[type="checkbox"] {
display: inline; }
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
color: #444; }
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(121,204,94,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(121,204,94,.5) 100%); /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #222;
    background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(121,204,94,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(121,204,94,.5) 100%); /* W3C */
    border: 1px solid #888;
    border-top: 1px solid #aaa;
border-left: 1px solid #aaa; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    border: 1px solid #666;
    background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
text-align: center; }
#options-content {
    background: #f9fbf4;
    width: 420px;
    margin: auto;
    padding: 0.5em 4em 5em;
    margin-top: 5em;
    border-radius: 10px;
}
#header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 1em;
}
#popup-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;


    background: #fff;;
}
#today_table {
    margin: 0px;
    margin-top: 10px;
    /*width: 95%;*/
}
.clear {
    clear: both;
}
a.link_button {
    font-weight: bold;
    /*color: #808080;*/
    color: #fff;
    text-decoration: none;
    float: right;
    padding-left: 2em;
    font-size: 12px;
    text-transform: lowercase;
    text-decoration: underline;

}
a:hover.link_button {
    text-decoration: none;
}
.footer {
    padding: 2px;
    margin-top: 20px;
    background: #212121;
    height: 26px;
}
.footer a {
  color: #fff;
}

a {
    font-size: 0.9em;
    color: #808080;
    padding: 1px 3px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.status {
  margin: 0px;
  background-color: #388e3c;
  /*background-color: #4caf50;*/
  list-style-image: none;
  padding:  0px 8px;
  height: 23px;
}
ul.status li {
  display: inline;
}
ul.status li span {
font-weight: bold; float: left; color: #fff;
}
.headbar {
    margin: 0px;
    /*border-bottom: 1px solid #ccc;*/
    list-style-image: none;
    padding: 20px 8px 8px 8px;
    background-color: #4caf50;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: background-color 100ms linear;
    position: relative;
    height: 40px;
}
#total {
  text-align: right;
  float: right;
  position: absolute;
  background-color: #8bc34a;
  box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
  outline: 0 !important;
  color: #fff;
  border-radius: 100%;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  height: 28px;
  line-height: 17px;
  width: 28px;
  text-align: center;
  padding: 8px;
  bottom: -13px;
  right: 13px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
#overall_div {
  margin-top: 20px;
}
.title {
    font-weight: bold;
    font-size: 20px;
    /*color: #8eac1a;*/
}
.green{
    color: #8eac1a;
}
#save_message {
    color: #8eac1a;
    font-style: italic;
    visibility: hidden;
    padding: 1em;
}
#other_currency {
display: none; 
border: 1px solid #fff; 
border-radius: 5px;
padding: 10px;
background-color: #fff;
}
